
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display';
}

p{
    font-family: 'Open Sans';
}

/* General styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

.gradient-colours{
    background-image: linear-gradient( #3e688c, #69bf6f );
}

nav{
    height: 20vh;
}

/* Flash messaging styles */
.flashes{
    border-radius: 15px;
}

.alert-error{
    background-color: red;
}

.alert-success{
    background-color: green;
}


.fit-image{
    object-fit: contain;
    max-width:100%;
    max-height: 50vh;
}

/* Navbar */
.header-title{
    margin-left: 20px;
    margin-top: 30px;
}

/* Footer */
i.fab.fa-facebook-f, i.fab.fa-twitter, i.fab.fa-linkedin-in{
    color: white;
    font-size: 20px;
}

/* Home Page */

.logo-size{ 
    object-fit: contain;
    overflow: hidden;
}
.collapsible-header div{
    width: 100%;
}

/* Content Page forum */

textarea#body.materialize-textarea{
    height: 6rem;
}

.tab {
    tab-size: 4;
}


/* Profile Page */

.post_it{
    margin: 10px;
    text-align:center;
    
}

div.btn-small{
    border-radius: 50px;
}


.side-panel{
    
} 


.main-panel{
    
}