.logo-size{
    
    object-fit: contain;
}

.brand-logo{
    margin-left: 10px;
}

.side-panel{
    background-color: pink;
} 


.main-panel{
    background-color: aqua;
}

textarea#body.materialize-textarea{
    height: 6rem;
}