{% extends "base.html" %}
{% block content %}
<h3 class="center user-management-header">User Management</h3>
<div class="row">
    {% for singleuser in all_users %}
    <div class="col s10 offset-s1 m5 offset-m1 l4 offset-l1 card">
        <div class="user-card-container">
            <div class="col s6 bold">
                Username :
            </div>
            <div class="col s6">
                {{ singleuser.username }}
            </div>
            <div class="col s6 bold">
                First Name :
            </div>
            <div class="col s6">
                {{ singleuser.first_name }}
            </div>
            <div class="col s6 bold">
                Last Name :
            </div>
            <div class="col s6">
                {{ singleuser.last_name }}
            </div>
            <div class="col s6 bold">
                Access Level :
            </div>
            <div class="col s6">
                {{ singleuser.access_level }}
            </div>
            <div class="col s6 bold">
                Email :
            </div>
            <div class="col s6">
                {{ singleuser.email }}
            </div>
            <div class="col s12 user-buttons center">
                <hr>
                <a href="{{ url_for('admin_edit',user_to_edit = singleuser.username) }}"
                    class="col s4 offset-s1 btn-small green-button" rel="noopener"></a>>
                    Edit
                </a>
                <a href="{{ url_for('admin_delete',user_to_delete = singleuser.username) }}"
                    class="col s4 offset-s1 btn-small green-button confirm" rel="noopener"
                    title="Are you sure you wish to delete username {{ singleuser.username }} ?">
                    Delete
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}