{% extends "base.html" %}
{% block content %}
    <h4 class="center">Content Library</h4>

    
    <div class="row ">
      <form action="{{ url_for('search') }}" method="post" class="col s12 m8 offset-m2 l8 offset-l2">
          <div class="row valign-wrapper center-align">
              <div class="input-field col s12 m8">
                  <i class="fas fa-search prefix"></i>
                  <input type="text" name="search" id="search" minlength="3" class="validate" required>
                  <label for="search">Search</label>
              </div>
              <div class="col s12 m4">
                  <a href="{{ url_for('home') }}" class="btn-small green-button text-shadow">Reset</a>
                  <button type="submit" class="green-button btn-small text-shadow">
                 Search
                  </button>
              </div>
          </div>
      </form>
  </div>
  


    <div class="row">

      {% if site_contents.count() > 0 %}
        {% for single_content in site_contents %}
        <div class=" col s12 l4 m6 content-container">
            <ul class="collapsible">
              <li>
                <div class="media-container content-image-container">
                    <img class="materialboxed"  src="{{ single_content.picture }}">
                </div>
                {%  if level == "admin" %}
                <div class="center content-admin-buttons">
                    <a href="{{ url_for('editcontent', content_id = single_content._id) }}" class="btn-small green-button ">Edit</a>
                    <a href="{{ url_for('delete_content', content_id = single_content._id) }}" class="btn-small green-button confirm" title="Are you sure you wish to delete this post?">Delete</a>
                </div>
                {% endif %}
                <div class="collapsible-header">
                    <div class="col s12">
                        <h4 class="center">{{ single_content.title.capitalize()}}</h4>   
                        <p class="center">Category: {{ single_content.category.capitalize()}}</p>
                       <p><i class="fas fa-chevron-circle-down right"></i></p>
                    </div>
                </div>
                <div class="collapsible-body">
                    <span>{{ single_content.content}}</span>
                    <br> <br>
                    <span><a class="btn-small green-button"href="{{ single_content.resource}}" target="_blank">Further Reading</a>
                    </span>
                    <hr>
                    <span class="left">{{ single_content.date}}</span>
                    <span class="right">Author: {{ single_content.user}}</span>
                </div>

                <div>
                    <a class="refresh" href="{{ url_for('score_up', rated_article = single_content._id) }}"><i class="far fa-thumbs-up content"></i>{{ single_content.rating_up}}</a>   
                    <a class="refresh" href="{{ url_for('score_down', rated_article = single_content._id) }}"><i class="far fa-thumbs-down content"></i>{{ single_content.rating_down}}</a>
                    <a class="refresh" href="{{ url_for('fav_content', content_id = single_content._id) }}"><i class="far fa-bookmark right content"></i></a>
                </div>
                
                
              </li>
            </ul>
          </div>

        {% endfor %}

      {% else %}
      <div class="row">
            <div class="col s12">
                <h5 class="center"> No Results Found</h5>
            </div>
        </div>
      {% endif %}


{% endblock %}