{% extends "base.html" %}
{% block content %}

<h4>Welcome {{ name|capitalize }}</h4>

 <!-- Page Layout here -->
 <div class="row">

    <div class="col s12 m4 l3 side-panel"> <!-- Note that "m4 l3" was added -->
      <!-- Grey navigation panel

            This content will be:
        3-columns-wide on large screens,
        4-columns-wide on medium screens,
        12-columns-wide on small screens  -->
      
        {% for favourite in favourites %}
        <div class="s12 m12 l12">
          <a href="{{ url_for('search_fav', query = favourite.content_title) }}" class="btn-small">{{ favourite.content_title }}</a>
        </div>  
        {% endfor %}
      
    </div>

    <div class="col s12 m8 l9 main-panel"> 
      
      <div class="row">
        
        <div>
          <h4 class="center">Your notes</h4>
          <a  href="{{ url_for('notes') }}" class="btn-large green"><i class="fas fa-plus-circle"></i></a>
        </div>

        {% for note in notes %}

        <div class="col s6 m4 l4">
          <div class="card yellow accent-1">
            <div class="card-content grey-text darken-3">
              <span class="card-title">{{ note.title }}</span>
              <p>{{ note.note }}</p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('editnote', note_id = note._id) }}">Edit</a>
              <a class="confirm" title="Are you sure you wish to delete this note" href="{{ url_for('delete_note', note_id = note._id) }}">Delete</a> <br><br>
              
              <span>Date Added: {{note.date}}</span> 
            </div>
          </div>
        </div>

        {% endfor %}


      </div>
    
    </div>

  </div>

{% endblock%}