{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col right">
    <a rel="noopener" href="{{ url_for('user_settings') }}"><i class="fas fa-user-cog tooltipped" data-position="left"
        data-tooltip="Edit your user profile"></i></a>
  </div>
</div>

<h4 class="center blue-text darken-4">Welcome {{ name|capitalize }}</h4>

<div class="row profile-container">


  <div class="col s12 m4 l3 side-panel">

    <h5 class="center fav-articles-heading">Your Favourite Articles</h5>
    {% for favourite in favourites %}
    <div class="s12 m12 l12 fav-container">
      <div class="btn-small deep-purple lighten-4 fav-button">
        <a rel="noopener"
          href="{{ url_for('search_fav', query = favourite.content_title) }}">{{ favourite.content_title }}</a>
        <a rel="noopener" href="{{ url_for('delete_fav', fav_id = favourite._id) }}" class="confirm"
          title="Are you sure you wish to delete this favourite?"><i class="fas fa-times right"></i></a>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="col s12 m8 l9 main-panel">

    <div class="row">

      <div class="col s12 l12 m12">
        <div class="s12">
          <h5 class="center notes-title">Your Notes</h5>
        </div>
        <div class="col s2">
          <a rel="noopener" href="{{ url_for('notes') }}" class="btn-small light-blue accent-3 tooltipped"
            data-position="right" data-tooltip="Add a new note"><i class="fas fa-plus-circle"></i></a>
        </div>

      </div>

      {% for note in notes %}

      <div class="col s12 m8 offset-m2 l4 offset-l1 note-container">
        <div class="card  green lighten-4 post-it">
          <div class="card-content center post-it-body">
            <span class="card-title">{{ note.title }}</span>
            <p class="article-body">{{ note.note }}</p>
          </div>
          <div class="card-action">
            <div class="col12 center">
              <a rel="noopener" class="deep-purple-text darken-4"
                href="{{ url_for('editnote', note_id = note._id) }}">Edit</a>
              <a rel="noopener" class="confirm deep-purple-text darken-4"
                title="Are you sure you wish to delete this note"
                href="{{ url_for('delete_note', note_id = note._id) }}">Delete</a> <br><br>
            </div>
            <div class="center">
              <span>Date Added: {{note.date}}</span>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}


    </div>

  </div>

</div>

{% endblock%}